$Orange: hsl(25, 97%, 53%);
$White: hsl(0, 0%, 100%);
$Light_Grey: hsl(217, 12%, 63%);
$Medium_Grey: hsl(216, 12%, 54%);
$Dark_Blue: hsl(213, 19%, 18%);
$Very_Dark_Blue: hsl(216, 12%, 8%);

body {
    font-family: 'Overpass', sans-serif;
    width: 98vw;
    height: 98vh;
    background-color: $Very_Dark_Blue;
    .container {
        background-color: $Dark_Blue;
        width: 512px;
        height: 512px;
    }
}