$Orange: hsl(25, 97%, 53%);
$White: hsl(0, 0%, 100%);
$Light_Grey: hsl(217, 12%, 63%);
$Medium_Grey: hsl(216, 12%, 54%);
$Dark_Blue: hsl(213, 19%, 18%);
$Very_Dark_Blue: hsl(216, 12%, 8%);

$Star_BG: hsl(214, 13%, 22%);
$Rating_BG: hsl(214, 13%, 22%);

body {
    font-family: 'Overpass', sans-serif;
    background-color: $Very_Dark_Blue;
    min-height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
}

.container {
    background-color: $Dark_Blue;
    width: 380px;
    height: 380px;
    border-radius: 6%;
    .star {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $Star_BG;
        width: 48px;
        height: 48px;
        margin: 32px;
        border-radius: 50%;
    }
    .text {
        padding: 0 32px;
        h1 {
            color: $White;
            font-weight: 700;
        }
        p {
            color: $Light_Grey;
            font-weight: 400;
        }
    }
    .rating {
        display: flex;
        justify-content: space-evenly;
        button {
            background-color: $Rating_BG;
            border: none;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            color: $Light_Grey;
        }
        button:active {
            background-color: $Light_Grey;
        }
        button:hover {
            background-color: $Orange;
        }
    }
}